.body-class {
    background-color: #dabbab;
}
.header-class {
   background-color:#90bae7;
   color: #106c30;
}
.nav-class {
    background-color: #eab9d8;
    color: #c446b3;
}
.nav-class ul li a.active {
    font-weight: bold;
    color:#9447b8
}
.title-class {
    color: #349c0f;
}
.section-title-class {
    color: #e6086c;
}
.text-class {
    color: #0d62bc;
}
.image-class {
    border: 4px solid #e6086c;
}
.form-class {
    color: #0d62bc;
}
.button-class {
    color: #0d62bc;
}
.footer-class {
    background-color: #e1ce25;
    color: #e14a2b;
}